@model VLegalizer.Web.Data.Entities.TripEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip DeTails</h4>
    <hr />

    @foreach (var detail in Model.TripDetails)
    {
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(modelDetail => detail.ExpenseType.ExpenseNames)
    </dt>
    <dd>
        @Html.DisplayFor(modelDetail => detail.ExpenseType.ExpenseNames)
    </dd>
    <dt>
        @Html.DisplayNameFor(modelDetail => detail.DateLocal)
    </dt>
    <dd>
        @Html.DisplayFor(modelDetail => detail.DateLocal)
    </dd>
    <dt>
        @Html.DisplayNameFor(modelDetail => detail.Description)
    </dt>
    <dd>
        @Html.DisplayFor(modelDetail => detail.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(modelDetail => detail.PicturePath)
    </dt>
    <dd>
        <img src=@detail.PicturePath alt="test image"/>
    </dd>
    <dt>
        @Html.DisplayNameFor(modelDetail => detail.Amount)
    </dt>
    <dd>
        @Html.DisplayFor(modelDetail => detail.Amount)
    </dd>
</dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
